<style type="text/css">
  .hero-unit{
    padding: 174px 174px 174px 280px;
   /* background-image: linear-gradient(to bottom, #FFFFA0, #FF9F3E); */
}
.span9{margin-left: 174px;margin-top:50px;}
</style>

         
<div id="main_list" style="height:250px;overflow:auto;">
  
  </div>

  <div id="map_section">
    <%= gmaps4rails(@json) %>
  </div>


