<style>
.row .span9{background:#EEEEEE;margin:0 0 3px 37px !important;height:50px;width:95%;
text-align:center;font-size:20px;line-height:3em;}
.row .span9:hover{background:#DDDDDD;}
</style>

<%  unless @listelements.blank? %>
 <% @listelements.each do |list|%>
  <%st=Store.where(:location_id=>list)%>
  <%st.each do |store|%>
  <%loc=Location.find(store.location_id)%>
   <div class="row" >
     <div class="span9" > <%=link_to "#{store.store_name} #{loc.location_name}",customer_listing_items_path(:location_id=>store.location_id,:store_id=>store.id),:remote=>true%></div>
   </div> <br/>
   <%end%>
 <%end%>
<%else%>
No Results Found with <%=params[:location_name]%>
<%end%>

<%#end%>

<%#=link_to 'Add Seminars', customer_listing_items_path(:id=>13) ,:remote => true%>

